<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <link rel="stylesheet" href="/public/css/darkdown.css">
    <link rel="stylesheet" href="/public/css/variables.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    {{ content | safe }}


    <!-- Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.4/lib/darkmode-js.min.js"></script>
    <script src="/public/assets/darkmode.js"></script>
</body>
</html>